@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Montserrat:wght@900&family=Nunito&family=Poiret+One&family=Poppins:wght@600&family=Rubik&family=Ubuntu&display=swap');

.home__foto, .home__description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home__description  {
    width: 60%;
    padding:  0 30px;
}

.home__description p {
    font-family: 'montserrat', sans-serif;
    color: #fff;
    font-size: 5rem ;
    text-transform: uppercase;
    line-height:.9;
}

.home__foto {
    width: 40%;
    align-items: center;
    
}

/* .home__foto img {
    width: 100%;
} */

.Curriculum-buttom {
    background: red;
    width: 150px;
    text-align: center;
    height: 40px;
    padding: 10px;
    margin: 15px 0;
    border-radius: 2px;
}

.Curriculum-buttom i {
    padding:  0 0 0 10px;
    color: #fff;
}

.Curriculum-buttom a {
    text-decoration: none;
    color: #fff;
    font-family: 'Nunito';
    font-weight: bold;
}

@media (max-width: 800px) {

    #home {
        flex-direction: column;
        position: relative;
        background: rgb(29, 29, 29);

        
    }

    .background_me {
        position: absolute;
        background-image: url(img/foto-home-me.png);
        background-size: cover;
        width: 100%;
        height: 100%;
        top: -50px;
        right: -20px;
        filter: grayscale(100%);
        z-index: 1;
        
    }
    .home__foto, .home__description {
        height: 50%;
        display: flex;
    }
    
    .home__description  {
        width: 100%;
    }
    .home__description p {
        font-size: 3rem ;
    }

    .home__foto {
        order: 1;
        
    }
    .home__description {
        order: 2;
    }

}

