#about {
    position: relative;
    justify-content: end;
}

.about__description {
    width: 65%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:  50px;
}

.background_aboutme {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    mix-blend-mode: soft-light;
    filter: grayscale(100%);        
    z-index: 5;
    transform: scaleX(-1);
    display: flex;
    align-items: end;
}

.background_aboutme img {
    width: 100%;
    height: 95%;
}

.about__description h1{
    font-size: 2rem;
    color: goldenrod;
    font-family: 'montserrat', sans-serif;
    
}
.about__description p{
    font-size: .9rem;
    
    margin-top: 20px;
    color:#fff;
    font-family: 'poppins', sans-serif;

}

.about__foto {
    width: 40%;
    align-items: center;
}


@media (min-width: 760px) and (max-width:1023px) {
    #about {
        justify-content: start;
    }
    
    .background_aboutme {
        width: 100%;
        height: 100%;
        mix-blend-mode: soft-light;
        transform: none;
        left: initial;
        right: -150px;
    }
    
    .background_aboutme img {
        width: 100%;
        height: auto;
    }

    .about__description {
        height: 60%;
        width: 70%;
        padding: 0 70px;
        z-index: 6;
        justify-content: flex-start;
    }

    .about__description h1{
        font-size: 3rem;
    }

    .about__description p{
        font-size: 1.2rem;
    } 
}

@media (max-width: 759px) {
    
    .background_aboutme {
        width: 100%;
        height: 100%;
        mix-blend-mode: soft-light;
        transform: none;
        bottom: initial;
        align-items: end;
    }
    
    .background_aboutme img {
        width: 150%;
        height: 70%;
    }
    
    .about__description {
        width: 100%;
        height: 55%;
        padding: 30px;
        z-index: 6;
        justify-content: flex-start;
    }

    .about__description h1{
        font-size: 2.1rem;
        
    }

    .about__description p{
        font-size: .9rem;
        
    }

}
