#skills {
    justify-content: center;
    align-items: center;
    
}

.skills__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    
    justify-items: center;
    gap: 1rem;
    width: 90%;
    height: auto;
}

.skills__container img{
    width: 120px;
    background: #fff;
    padding: 10px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}